{% extends 'master' %}

{% block content %}

  <div class="text-xs-center">

    <h1>To-Do List Manager</h1>
    <p class="lead">
      Készítette: Barborik Dániel / MOZ64X
    </p>

    {% if not currentUser %}
      <div class="row lg-margin-top">

        <div class="col-md-6">
          <a href="/register" class="btn btn-primary float-xs-right">Regisztráció</a>
        </div>

        <div class="col-md-6">
          <a href="/login" class="btn btn-primary float-xs-left">Bejelentkezés</a>
        </div>

      </div>
    {% endif %}

  </div>
{% endblock %}