{% extends 'master' %}

{% block content %}
  <div class="container text-xs-center">
    <h1>To-Do List Manager</h1>
    <p class="lead">
      Készítette: Barborik Dániel / MOZ64X
    </p>
  </div>
{% endblock %}