{% extends 'master' %}

{% block content %}

  <div class="text-xs-center">

    <h1>To-Do List Manager</h1>
    <p class="lead">
      Készítette: Barborik Dániel / MOZ64X
    </p>

    <div class="container lg-margin-top">

    {% if currentUser %}
      <p>
        Belépve mint {{ currentUser.username }}.
      </p>

      <a href="account/logout" class="btn btn-lg btn-primary">Kijelentkezés</a>
    {% else %}
      <div class="row">

        <div class="col-md-6">
          <a href="account/register" class="btn btn-lg btn-primary float-xs-right">Regisztráció</a>
        </div>

        <div class="col-md-6">
          <a href="account/login" class="btn btn-lg btn-primary float-xs-left">Bejelentkezés</a>
        </div>

      </div>
    {% endif %}

    </div>

  </div>
{% endblock %}