{% extends 'master' %}

{% block content %}
  <div class="text-xs-center m-1 p-1">
    <h1>{{ errorMessage }}</h1>
    <a href="/" class="btn btn-warning btn-lg mt-2">Főoldal</a>
  </div>
{% endblock %}
