{% extends 'master' %}

{% block content %}

  {% if old('errors') %}
    <div class="bg-danger text-white text-xs-center m-1 p-1">
      {% for error in old('errors') %}
        <li> {{ error.message }} </li>
      {% endfor %}
    </div>
  {% endif %}

  {{ form.open({action: 'RegisterController.register', class: 'form-signin' }) }}

    <h2 class="form-signin-heading">Regisztráció</h2>

    {{ csrfField }}

    <div class="form-group">
      {{ form.text('name', null, { class: 'form-control', placeholder: 'Név', required: 'true', autofocus: 'true' }) }}
    </div>

    <div class="form-group">
      {{ form.text('email', null, { class: 'form-control', placeholder: 'Email cím', required: 'true'}) }}
    </div>

    <div class="form-group">
      {{ form.password('password', null, { class: 'form-control', placeholder: 'Jelszó', required: 'true' }) }}
    </div>

    {{ form.submit('Regisztráció', 'register', { class: 'btn btn-lg btn-primary btn-block' }) }}

  {{ form.close() }}

{% endblock %}