{% extends 'master' %}

{% block content %}

  <h1>{{ task.title }}</h1>

  <div class="row my-1 bg-faded py-1">

    <div class="float-xs-left mx-1">
      {% if task.finished === 1 %}
        <button type="button" class="d-inline btn btn-sm btn-success" disabled>státusz: kész</button>
      {% else %}
        <button type="button" class="d-inline btn btn-sm btn-warning" disabled>státusz: to-do</button>
      {% endif %}

      {% if task.priority === 1 %}
        <button type="button" class="d-inline btn btn-sm btn-secondary" disabled>prioritás: nagyon alacsony</button>
      {% elif task.priority === 2 %}
        <button type="button" class="d-inline btn btn-sm btn-info" disabled>prioritás: alacsony</button>
      {% elif task.priority === 3 %}
        <button type="button" class="d-inline btn btn-sm btn-primary" disabled>prioritás: normál</button>
      {% elif task.priority === 4 %}
        <button type="button" class="d-inline btn btn-sm btn-warning" disabled>prioritás: magas</button>
      {% elif task.priority === 5 %}
        <button type="button" class="d-inline btn btn-sm btn-danger" disabled>prioritás: nagyon magas</button>
      {% endif %}
    </div>

  </div>

  <p>{{ task.content }}</p>

  <div class="row bg-faded">
    <p class="pt-1 mx-1">
      kikhez tartozik a feladat: [ <strong>{% for user in selected_users %} {{ user.username }} {% endfor %}</strong> ]
    </p>
  </div>

  <div class="row text-xs-center mt-3">
    <h2>Biztosan törölni akarja a feladatot?</h2>
    <div class="col-md-6 mt-3">
      {{ form.open({action: 'TaskController.remove' }) }}
        {{ csrfField }}
        {{ form.hidden('id', task.id) }}
        {{ form.submit('igen, törlés', 'delete', { class: 'btn btn-danger btn-lg float-xs-right' }) }}
      {{ form.close() }}
    </div>
    <div class="col-md-6 mt-3">
      <a href="/tasks/details/{{ task.id }}" class="btn btn-secondary btn-lg float-xs-left">nem, vissza</a>
    </div>
  </div>

{% endblock %}