{% extends 'master' %}

{% set beautify = "true" %}

{% block content %}

  <h1>Feladat szerkesztése</h1>

  {{ form.open({action: 'TaskController.update'}) }}

    {{ csrfField }}

    {{ form.hidden('id', task.id) }}

    <div class="form-group">
      {{ form.label('Feladat neve') }}
      {{ form.text('title', task.title, { class: 'form-control' }) }}
    </div>

    <div class="form-group">
      {{ form.label('Feladat szövege') }}
      {{ form.textarea('content', task.content, { class: 'form-control', rows: 10 }) }}
    </div>

    <div class="form-group">
      {{ form.label('Prioritás') }}
      {{ form.selectRange('priority', 1, 6, task.priority, null, {class: 'form-control'}) }}
    </div>

    <div class="form-group">
      {{ form.label('Tagok') }}
      {{ form.select('users[]', users, selected_users, null, { class: 'form-control', multiple: 'true' }) }}
    </div>

    <div class="form-check">
      <label class="form-check-label">
        {{ form.checkbox('finished', '1', task.finished, { class: 'form-check-input' }) }}
        Befejezve
      </label>
    </div>

    {{ form.submit('Mentés', 'publish', { class: 'btn btn-lg btn-primary btn-block' }) }}

  {{ form.close() }}

{% endblock %}