{% extends 'master' %}

{% block content %}

  <h1>Feladat szerkesztése</h1>

  {% if old('errors') %}
    <div class="bg-danger text-white text-xs-center m-1 p-1">
      {% for error in old('errors') %}
        <li> {{ error.message }} </li>
      {% endfor %}
    </div>
  {% endif %}

  {{ form.open({action: 'TaskController.update'}) }}

    {{ csrfField }}

    {{ form.hidden('id', task.id) }}

    <div class="form-group">
      {{ form.label('Feladat rövid leírása') }}
      {{ form.text('title', task.title, { class: 'form-control' }) }}
    </div>

    <div class="form-group">
      {{ form.label('Feladat hosszú leírása') }}
      {{ form.textarea('content', task.content, { class: 'form-control', rows: 10 }) }}
    </div>

    <div class="form-group">
      {{ form.label('Feladat prioritása') }}
      {{ form.select('priority', priority, selected_priority, null, { class: 'form-control' }) }}
    </div>

    <div class="form-group">
      {{ form.label('Kihez legyen rendelve a feladat?') }}
      {{ form.select('users[]', users, selected_users, null, { class: 'form-control', multiple: 'true' }) }}
    </div>

    <div class="form-check">
      <label class="form-check-label">
        {{ form.checkbox('finished', '1', task.finished, { class: 'form-check-input' }) }}
        Feladat befejezve
      </label>
    </div>

    {{ form.submit('Mentés', 'publish', { class: 'btn btn-lg btn-primary btn-block' }) }}

  {{ form.close() }}

  <p class="mt-1"><a href="/tasks">Vissza</a></p>

{% endblock %}