{% extends 'master' %}

{% block content %}

  <h1>Feladatok</h1>

  <div class="row my-2">

    <div class="col-md-4">
      <a href="tasks/create" class="btn btn-primary">Új feladat</a>
    </div>

    <div class="col-md-8">
      {{ form.open({action: 'TaskController.search', class: 'form-inline float-md-right'}) }}

      {{ csrfField }}

      <div class="form-group">
        {{ form.text('query', null, { class: 'form-control', placeholder: 'Keresés..' }) }}
      </div>

      {{ form.submit('Keresés', 'search', { class: 'btn btn-primary' }) }}

    {{ form.close() }}
    </div>

  </div>

  <div>
    <table class="table table-hover">

      <thead class="thead-default">
        <tr>
          <th>Státusz</th>
          <th>Rövid leírás</th>
          <th>Prioritás</th>
          <th>Létrehozva</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for task in tasks %}
          <tr>
            {% if task.finished === 1 %}
              <td scope="row"><button type="button" class="btn btn-sm btn-success btn-block" disabled>kész</button></td>
            {% else %}
              <td scope="row"><button type="button" class="btn btn-sm btn-warning btn-block" disabled>to-do</button></td>
            {% endif %}
            <td>{{ task.title }}</td>
            {% if task.priority === 1 %}
              <td scope="row"><button type="button" class="btn btn-sm btn-secondary btn-block" disabled>nagyon alacsony</button></td>
            {% elif task.priority === 2 %}
              <td scope="row"><button type="button" class="btn btn-sm btn-info btn-block" disabled>alacsony</button></td>
            {% elif task.priority === 3 %}
              <td scope="row"><button type="button" class="btn btn-sm btn-primary btn-block" disabled>normál</button></td>
            {% elif task.priority === 4 %}
              <td scope="row"><button type="button" class="btn btn-sm btn-warning btn-block" disabled>magas</button></td>
            {% elif task.priority === 5 %}
              <td scope="row"><button type="button" class="btn btn-sm btn-danger btn-block" disabled>nagyon magas</button></td>
            {% endif %}
            <td>{{ task.created_at | truncate(10) }}</td>
            <td><a href="/tasks/details/{{ task.id }}" class="btn btn-info btn-sm btn-block">Részletek</a></td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

{% endblock %}